<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josue Zazueta Portfolio</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
    <header>
        <h1>Josue Zazueta</h1>
        <div class="menu">
            <button id="menu-button">Menu</button>
            <div id="dropdown-menu" class="dropdown-content">
                <a href="{{ '/pages/about.md' | relative_url }}">About</a>
                <a href="{{ '/pages/projects.md' | relative_url }}">Projects</a>
                <a href="{{ '/pages/contact.md' | relative_url }}">Contact</a>
            </div>
        </div>
    </header>
    <script src="{{ '/assets/js/menu.js' | relative_url }}"></script>
</body>
</html>