title: Josue Zazueta Portfolio
email: WebDev.Josue@gmail.com
description: Web Developer Portfolio
baseurl: ""
url: "https://webdevjosue.github.io"

# Build settings
markdown: kramdown
plugins:
  - jekyll-seo-tag

# Exclude files
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/
